<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Nereus</title>
    </head>
    <body style="width:580px">
        <div id="body">
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
    </body>
</html>
