<?xml version="1.0" encoding="utf-8"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection"
         connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-Nereus;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnet-Nereus-201212121558454.mdf"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace"/>
  </connectionStrings>
</configuration>
