body
{
   font-size: 9pt;
   font-family: arial,sans-serif;
   color: black;
   /*background: white;*/
   margin: 0;
   background-image: url("../../Images/NereusPageLogo.png");
   background-position-x: center;
   background-position-y: 200px;
   background-repeat: no-repeat;
}

#logoutForm
{
    display: inline;
}

.nav-bar
{
    background: rgb(39, 68,118);
    padding: 8px; 
    margin: 0;
}

section#body {
   margin-left: 20px;
   margin-right: 20px;
  
}
.site-title 
{
   display: inline;
   font-size: 1.3em;
   font-weight: 600;
   margin: 0 0 5px;
   padding: 2px;
   background: none;
   color: ghostwhite;
   text-decoration: none;
}

.image-action
{
   cursor: pointer;
}

nav
{
   display: inline;
}

p.copyright
{
   text-align: right;
   position:absolute;
   bottom: 30px;
   right: 10px;
}

.dialog-error
{
   display: none;
   color: red;
}

.action-link {
   color: rgb(39, 68,118);
   text-decoration: underline;
   cursor: pointer;
}
legend#setting-title {
    color: rgb(39, 68,118);
    font-style:normal;
    font-size: 1em;
    border: 1px solid rgb(39, 68,118);
    padding: 2px 4px;
    background: #d3d6d7;
    border-radius: 2px;
}
legend#projectName {
    color: rgb(39, 68,118);
    font-style:normal;
    font-size: 1em;
    border: 1px solid rgb(39, 68,118);
    padding: 2px 4px;
    background: #d3d6d7;
    border-radius: 2px;
}
/*Forms------------------------------------------------------------*/
fieldset {
    border: 1px solid rgb(39, 68,118);
    border-radius: 4px;
    margin-bottom: 4em;
}
    fieldset#interfaceSettings {
        width: 300px;
        display: inline-block;
        height: auto;
    }
    fieldset#searchSettings {
        width: 300px;
        display: inline-block;
        height: auto;
    }
    fieldset#createProject {
        width: 350px;
        display: inline-block;
        height: auto;
    }
    fieldset#editProject {
        width: 350px;
        display: inline-block;
        height: auto;
    }
/* login ----------------------------------------------------------*/
#login
{
   display: inline;
   font-size: .85em;
   margin: 0 0 10px;
   text-align: right;
   float: right;
   color: ghostwhite;
}

   #login a
   {
      margin-left: 10px;
      margin-right: 3px;
      padding: 2px 3px;
      text-decoration: none;
   }

      #login a.username
      {
         background: none;
         margin: 0;
         padding: 5px;
         text-decoration: underline;
      }

   #login ul
   {
      margin: 0;
   }

   #login li
   {
      display: inline;
      list-style: none;
   }


/* menu ----------------------------------------------------------*/
ul#menu
{
   display: inline;
   font-size: 1.3em;
   font-weight: 600;
   margin: 0 0 5px;
   padding: 0;
}

   ul#menu li
   {
      display: inline;
      list-style: none;
      padding-left: 15px;
   }

      ul#menu li a
      {
         background: none;
         color: #cbcbcb;
         text-decoration: none;
      }

         ul#menu li a:hover
         {
            color:#5c5c5c ;
            text-decoration: none;
         }

    ul#menu li.pageLink a {
        color: ghostwhite;
        text-decoration: none;
    }
