table {
   width: 100%;
   border-spacing: 0;
   padding: 0;
   /*border: 1px solid grey;*/
}

tr {
   /*border: 1px solid grey;*/
}

td {
   /*border: 1px solid grey;*/
}

col.checkbox {
   width: auto;
}

col.delete {
   width: auto;
   padding-right: 10px;
}

col.content {
   width: auto;
}
